:root {
  --primary-color: #2ec4b6;
  --main-bg: #011627;
}

body {
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

p {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: inherit;
  margin: auto;
}

header,
footer {
  color: #f6f7f8;
  background: var(--main-bg);
  text-transform: uppercase;
  display: flex;
}

header {
  position: sticky;
  top: 0px;
}

footer {
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
}

header nav {
  height: 55px;
  background: #ffffff12;
  width: 100%;
  padding: 1rem;
  color: #f6f7f8;
}

h1 {
  margin: auto;
  color: #f6f7f8;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0px 5px 16px rgba(46, 196, 182, 0.4);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg);
  letter-spacing: 10px;
  height: 150px;
  text-transform: uppercase;
  margin: auto;
}

@media (max-width: 770px) {
  .filters {
    flex-direction: column;
  }

  .filters form {
    display: flex;
  }
}

.filters {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 55px;
  background: var(--main-bg);
}

.filters label {
  display: none;
}

.filters input {
  height: 30px;
  width: 350px;
  font-size: 1rem;
  background: none;
  color: #fff;
  caret-color: var(--primary-color);
  border: none;
}

button.primary {
  width: 230px;
  height: 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  outline: none;
  border-color: var(--main-bg);
}

button.primary:focus,
button.primary:hover {
  border: 2px solid #fff;
}

.filters .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}

.stars .star {
  font-size: 2rem;
}

.stars .star span:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.discover {
  padding: 0 1rem;
}

.discover ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.movie {
  list-style: none;
  padding: 30px;
  margin: 10px;
  background: #f7f7f7;
}

.movie .overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
